* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list-wrapper {
    margin: 0 auto;
    width: 500px;
    height: 700px;
}

.search-parameters {
    height: 30%;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
}

.search-parameter {
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

.search-parameter-active {
    color: red;
}

.search-bar {
    height: 5%;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.search-input {
    height: 30px;
    width: 80%;
}

.list {
    height: 65%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-items {
    width: 95%;
    height: 95%;
    list-style: none;
    align-items: center;
    overflow-y: auto;
    min-height: 0;
}

.list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2px;
    width: 100%;
    height: 12.5%;
    background-color: white;
    border: 1px solid black;
}

.card-info {
    width: 20%;
    text-align: center;
}

.card-country-name {
    width: 40%;
    text-align: center;
}

.card-flag {
    width: 40px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
}
